///* ==========================================================================
//   #VARIABLES
//   ========================================================================== */

// Colors
$black: hsl(0, 0%, 4%) !default;
$black-bis: hsl(0, 0%, 7%) !default;
$black-ter: hsl(0, 0%, 14%) !default;

$grey-darker: hsl(0, 0%, 21%) !default;
$grey-dark: hsl(0, 0%, 29%) !default;
$grey: hsl(0, 0%, 48%) !default;
$grey-light: hsl(0, 0%, 71%) !default;
$grey-lighter: hsl(0, 0%, 86%) !default;

$white-ter: hsl(0, 0%, 96%) !default;
$white-bis: hsl(0, 0%, 98%) !default;
$white: hsl(0, 0%, 100%) !default;

$trim-darker: hsl(0, 0%, 15%) !default;
$trim-dark: hsl(0, 0%, 20%) !default;
$trim: hsl(0, 0%, 27%) !default;
$trim-light: hsl(0, 0%, 30%) !default;
$trim-lighter: hsl(0, 0%, 35%) !default;

$blue: hsl(217, 71%,  53%) !default;
$green: hsl(141, 71%,  48%) !default;
$red: hsl(348, 100%, 61%) !default;
$yellow: hsl(54,  100%,  62%) !default;

$primary: $blue !default;
$info: $blue !default;
$success: $green !default;
$warning: $yellow !default;
$danger: $red !default;

$light: $white-ter !default;
$dark: $grey-darker !default;

// Typography
$family-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;

// Logo
$logo: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 111 72'%3E%3Cpath fill='#{$primary}' fill-rule='evenodd' d='M87.12 0h23.04L87.12 72H66.96L55.44 33.552 43.92 72H23.76L.72 0h23.04l10.368 38.592L45.36 0h20.16l11.232 38.592z'/%3E%3C/svg%3E" !default;

// Admin Bar
$admin-bar: 2em !default;
$admin-bar-mobile: 2.875em !default;

$admin-bar-logo: $logo !default;
$admin-bar-logo-width: 16px !default;
$admin-bar-logo-height: 20px !default;

// Grid
$gap: 64px !default;

// Breakpoints
$tablet: 769px !default;
$desktop: 960px + (2 * $gap) !default;
$widescreen: 1152px + (2 * $gap) !default;
$fullhd: 1344px + (2 * $gap) !default;

// Miscellaneous
$speed: 86ms !default;
