/* ==========================================================================
   #CUSTOM
   ========================================================================== */


/* User Admin Color
========================================================================== */

.user-admin-color-wrap {

  > td {
    position: relative;

    &:before {
      content: 'Not available.';
      display: block;
      size: 100%;
    }

  }

  fieldset {
    display: none;
  }

}


/* WordPress SEO
========================================================================== */

.wpseo-make-primary-term {
  text-decoration: none;
  font-size: 12px;
  color: $primary;

  &:hover {
    color: $primary;
  }

}
