/* ==========================================================================
   #CUSTOM
   ========================================================================== */


/* User Admin Color
========================================================================== */

.user-admin-color-wrap {

  > td {
    position: relative;

    &:before {
      content: 'Not available.';
      display: block;
      size: 100%;
    }

  }

  fieldset {
    display: none;
  }

}


/* WordPress SEO
========================================================================== */

.wpseo-make-primary-term {
  text-decoration: none;
  font-size: 12px;
  color: $primary;

  &:hover {
    color: $primary;
  }

}


/* Top 10
========================================================================== */

#tptn_pop_dashboard {
  #tptn_popular_posts {
    p:last-child {
      display: none;
    }
  }
}

#tptn_pop_daily_dashboard {
  #tptn_popular_posts_daily {
    p:last-child {
      display: none;
    }
  }
}
