/* ==========================================================================
   #Miscellaneous
   ========================================================================== */


/* Nav Tabs
========================================================================== */

.about-wrap h2 .nav-tab-active,
.nav-tab-active,
.nav-tab-active:hover {
  background-color: $white-ter;
  border-bottom-color: $white-ter;
}


/* Responsive Admin Menu Toggle
========================================================================== */

div#wp-responsive-toggle a:before {
  color: $white;
}

.wp-responsive-open div#wp-responsive-toggle a {
  border-color: transparent;
  background: $primary;
}

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
  background: darken($trim-darker, 25%);
}

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle .ab-icon:before {
  color: $white;
}


/* TinyMCE
========================================================================== */

.mce-container.mce-menu .mce-menu-item:hover,
.mce-container.mce-menu .mce-menu-item.mce-selected,
.mce-container.mce-menu .mce-menu-item:focus,
.mce-container.mce-menu .mce-menu-item-normal.mce-active,
.mce-container.mce-menu .mce-menu-item-preview.mce-active {
  background: $primary;
}
